<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin-panel</title>
</head>
<body>

<div class="inputform">
    <form>
        <p><input title="id" name="id" type="number"/><strong> ID</strong></p>
        <p><input title="title" name="title" type="text" size="65"/><strong> Title</strong></p>
        <p><textarea title="lead" name="lead" rows="10" cols="70"></textarea><strong> Lead</strong></p>
        <p class="form-submit">
            <input type="submit" formmethod="POST" formaction="/Admin/Add.php" value="add">
            <input type="submit" formmethod="POST" formaction="/Admin/Remove.php" value="remove">
            <input type="submit" formmethod="POST" formaction="/Admin/Edit.php" value="edit">
        </p>
    </form>
</div>

</body>
</html>