<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Новости</title>
</head>
<body>

<section>
    <?php foreach ($articles as $article) : ?>
    <article>
        <a href="<?php echo '/News/One/?id=' . $article->id; ?>  ">
            <h2><?php echo $article->title; ?></h2>
        </a>
        <h3><?php if (!empty($article->author_id)){
            echo $article->author->name . ' ' . $article->author->surname;
            }?>
        </h3>
        <div><?php echo $article->lead; ?></div>
    </article>
    <hr>
    <?php endforeach; ?>
</section>

</body>
</html>