<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Insert New Article </title>
</head>
<body>

<div class="inputform" align="center"> <h2> INSERT FORM </h2>
    <form>
        <p><textarea title="title" name="title" rows="3" cols="150" required > Article Title </textarea><strong> <br> type edited article title here </strong></p>
        <p><textarea title="lead" name="lead" rows="20" cols="150" required > Article Lead </textarea> <strong> <br> type edited article lead here </strong></p>
        <p class="form-submit">
            <input type="submit" formmethod="POST" formaction="/Admin/Save/" value="INSERT">
        </p>
    </form>
</div>

</body>
</html>