<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
</head>
<body>

<div height="100%" align="center">
    <tr>
        <td height="100%"><img src="/img/error.jpg" alt="" border="0"></a></td>

    </tr>

    <div class="text" align="center">
        <h2>
        <span style="background: lightgray; border: black; padding: 10px">
            Error Occured!
        </span>
        </h2>
    </div>
    <div class="text" align="center">
        <h2>
        <span style="background: lightgray; border: black; padding: 10px">
            <?php
                echo $error;
            ?>
        </span>
        </h2>
    </div>
</body>
</html>