<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin-panel</title>
</head>
<body>

<h1 align="center">Admin Panel</h1>

<div class="inputform" align="center"> <h2> INSERT FORM </h2>
    <form>
        <p><input title="title" name="title" type="text" size="65" required/><strong> <br> Insert new article title here</strong></p>
        <p><textarea title="lead" name="lead" rows="10" cols="70" required></textarea><strong> <br> Insert new article lead here</strong></p>
        <p class="form-submit">
            <input type="submit" formmethod="POST" formaction="/Admin/Save/" value="INSERT">
        </p>
    </form>
</div>

<div class="inputform" align="center"> <h2> EDIT FORM </h2>
    <form>
        <p><input title="id" name="id" type="number" required/><strong> <br> type edited article ID here </strong></p>
        <p><input title="title" name="title" type="text" size="65" required/><strong> <br> type edited article title here </strong></p>
        <p><textarea title="lead" name="lead" rows="10" cols="70" required></textarea><strong> <br> type edited article lead here </strong></p>
        <p class="form-submit">
            <input type="submit" formmethod="POST" formaction="/Admin/Save/" value="EDIT">
        </p>
    </form>
</div>

<!--<div class="inputform" align="center"> <h2> REMOVE FORM </h2>-->
    <!--<form>-->
        <!--<p><input title="id" name="id" type="number" required/><strong> <br> type article ID to remove here </strong></p>-->
        <!--<p class="form-submit">-->
            <!--<input type="submit" formmethod="POST" formaction="/Admin/Save/" value="REMOVE">-->
        <!--</p>-->
    <!--</form>-->
<!--</div>-->

</body>
</html>